<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NBKRates.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC3ED4391EBED39500055A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3ED44F1EBED39500055A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC3ED45A1EBED39500055A9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
